html
  head
    title= title
  body
    h1= message
    h3 header↓
    table
        tr
            th key
            th value
        each key in Object.keys(headers)
            tr
                td=key
                td=headers[key]